.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: bisque; */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.MainContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.resultContainer {
  border: gray 5px solid;
  padding: 20px;
  margin: 80px;
  height: 250px;
}

.row {
  display: flex;
  flex: 1;
}

.column {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "GoogleFont";
  src: url("/public/fonts/Diphylleia-Regular.ttf");
}
